.galleryContainer {
    display: flex;
    padding: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    margin: 10px;
    width: 35vw;
    height: 55vh;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}