.galleryContainer {
    display: flex;
    padding: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.imageBox {
    position: relative;
    width: 35vw;
    height: 55vh;
    margin: 20px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.overlay {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.3);
    border-radius: 15px;
    padding: 30px;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
    transition: opacity 0.5s;
    backdrop-filter: blur(.5rem);
}

.icon {
    transform: translateX(-30px);
    transition: transform 0.5s
}

.overlay:hover > .icon{
    transform: translateX(0px);
}