.header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.sliderGroup {
    display: flex;
    background-color: lavender;
    opacity: 95%;
    margin: 10px;
    justify-content: center;
    border-radius: 45px;
}

.sliderHeading {
    margin: 3px;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 5px 20px;
    border-radius: 45px;
}

.currentPage {
    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.transparent {
    background-color: transparent;
}
