@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.overview {
    display: flex;
    flex-direction: row;
    background-image: 
    radial-gradient(transparent 30%, black),
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5) 
    ),
    url('/images/monsterMouse/skald_album_cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    justify-content: space-evenly;
    background-color: black;
    box-shadow: 0px 0px 10px 10px black inset;
}

.album {
    display: flex;
    padding: 20px;
    align-items: center;
}

.albumSubtitle {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 20px;
    height: 500px;
    margin: 0px 3px;
    font-family: 'Oswald';
    font-style: italic;
}

.category {
    font-style: normal;
    color: slategrey;
    font-weight: bolder;
}

.namesAndActions {
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: flex-end;
}

.albumName {
    font-family: 'Staatliches';
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.artistName {
    font-family: 'Staatliches';
}

.buttonOptions, .streamingOptions {
    display: flex;
    margin: 10px 0px;
}

.button {
    display: flex;
    padding: 10px 15px;
    font-size: 20px;
    font-family: 'Staatliches';
    text-transform: uppercase;
    background-color: transparent;
    border-color: transparent;
    border-width: 2px;
    color: white;
    align-items: center;
    z-index: 100;
}

.listenNowButton {
    background-color: slategrey;
    border: 2px solid slategrey;
    margin: 0px 5px;
    transition: 0.25s;
}

.shareButton {
    border: 2px solid white;
    transition: 0.25s;
}

.streamingContainer {
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    font-family: 'Staatliches';
    text-transform: uppercase;
}

.streamingButton {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    z-index: 100;
    align-items: center;
    transition: 0.25s;
}

.button:hover, .streamingButton:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
    padding: 0px 20px;
}

.listenNowButton:hover, .shareButton:hover {
    padding: 10px 20px;
}

@media(max-width: 1200px){
    .overview {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .album, .namesAndActions {
        margin: 40px 0px 0px 0px;
    }

    .namesAndActions {
        position: absolute;
        padding: 0px 30px;
        width: 470px;
        height: 500px;
        justify-content: flex-end;
    }

    .albumName, .artistName {
        display: none
    }

    .button {
        border: 0.5px solid white;
        box-shadow: 0px 0px 20px 3px;
    }

    .shareButton {
        background-color: grey;   
    }
}