@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.songList, .musicVideo {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: flex-start;
    font-family: 'Staatliches';
}

.title {
    font-size: 40px;
    text-transform: uppercase;
    padding: 20px 10px;
}

.button {
    border: none;
    background-color: transparent;
    z-index: 100;
}

.song {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px;
}

.songContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.songId {
    margin: 0px 20px;
    text-align: right;
    width: 30px;
}

.songTitle {
    font-size: 20px;
}

.playIcon {
    margin: 0px 30px 0px 10px;
}

.songDuration, .shareIcon {
    margin: 0px 30px 0px 0px;
}

.musicVideo {
    margin: 0px;
    display: flex;
    align-items: center;
}


