.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
    color: #4C4E5F;
    background-color: #fff;
}

.column {
    max-width: 20vw;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 0px;
    font-size: 25px;
}

.listTitle{
    padding: 10px 0px 30px 0px;
    font-weight: bolder;
}

.listElement {
    list-style-type: none;
    padding: 2px 0px;
    font-size: 12px;
}

.listElement:hover{
    color: #03bd91;
}