.header {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 40px;
}

.headerElement {
    display: flex;
    align-self: center;
}

.centerElement {
    margin: 0px 15px;
    background-color: transparent;
    border-color: transparent;
    color: #4C4E5F;
}

.centerElement:hover {
    background-color: transparent;
    color: #4C4E5F;
    border-color: transparent;
    font-size: 12px;
}

.button {
    border-color: #00B288;
    color: #00B288;
    margin: 10px;
    padding: 7px 25px;
    font-weight: 700;
    font-size: 12px;
}

.green {
    background-color: #00B288;
    color: #fff
}