.plansAndPricing {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Amerigo'
}

.title, .toggleButton {
    padding: 100px 80px 0px 40px;
}

.toggleButton {
    font-size: 15px;
    align-self: center;
}

.planCardsList {
    background-color: red;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.planCard {
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: dotted;
    margin: 10px;
    padding: 10px;
}

.planTitle {
    font-size: 25px;
}

.planDescription {
    font-size: 14px;
}

.planPrice {
    font-size: 30px;
}

.planSubtitle {
    font-size: 14px;
    font-weight: bold;
    align-self: flex-end;
}

/*

            <div className={styles.planCardsList}>
                <div className={styles.planCard}>
                    <h1 className={styles.planTitle}>Card 1</h1>
                    <p className={styles.planDescription}>Here is a stock description</p>
                    <div className={`${styles.planPrice} ${styles.monthlyPlan}`}>$24 / MONTH</div>
                    <div className={`${styles.planPrice} ${styles.yearlyPlan}`}>$17 / MONTH</div>
                    <div className={`${styles.planSubtitle} ${styles.yearlyPlan}`}>BILLED MONTHLY</div>
                    <br className={styles.planBreak}/>
                    <ul className={styles.planDetails}>
                        <li key={1} className={styles.listElement}>info deet 1</li>
                        <li key={2} className={styles.listElement}>info deet 2</li>
                        <li key={3} className={styles.listElement}>info deet 3</li>
                    </ul>
                </div>
*/

.addOnsList {
    background-color: green;
    display: flex;
    flex-direction: column;
}

.addOnCard {
    background-color: lightgreen;
    margin: 10px;
    padding: 10px;
}